@System.Web.Optimization.Scripts.Render("~/Bundles");

@{
    ViewBag.Title = "MiVista";
}
<!--<script src="~/Scripts/JavaScript1.js"></script>
<script src="~/Scripts/JavaScript2.js"></script>-->

<h2>Mi Vista</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MiVista</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
